<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86289708694-hmhu7hn6kgm6pr21vpolspehtsafi1th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86289708694-hmhu7hn6kgm6pr21vpolspehtsafi1th</string>
	<key>API_KEY</key>
	<string>AIzaSyCF_TorIRXP9_3NgGP6BarQr5K5_avFSJE</string>
	<key>GCM_SENDER_ID</key>
	<string>86289708694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glover.HabitBuilder</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-c0656</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-c0656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86289708694:ios:eea6ccff69a9d9451fb4b7</string>
	<key>DATABASE_URL</key>
	<string>https://habit-tracker-c0656.firebaseio.com</string>
</dict>
</plist>